@model K22CNTT3_LeTranKhanhDuy_2210900020.Models.The

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LtkdLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>The</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenThe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaThe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
