@{
    ViewBag.Title = "LtkdContact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Msv</h3>
    <h3>@ViewBag.Fullname</h3>
    <address>
        K22CNTT3<br />
        Lập trình ứng dụng Web<br />
        <abbr title="Phone">P:</abbr>
        0779329341
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:khanhduy@gmail.com">khanhduy@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:anhthu@gmail.com">anhthu@gmail.com</a>
    </address>
</main>